
/* desktop */
@media (min-width: 980px) {
	body {
		padding-top: 60px;
	}
}

/* tablet */
@media (max-width: 979px) {
	.callword, .sendmsgword {
		display: none;
	}
}

/* mobile */
@media (max-width: 767px) {
	#myvideo {
		display: none;
	}

	.callword, .sendmsgword {
		display: inline;
	}
}

#myvideo, #partnervideo {
	width: 100%;
	height: auto;
}

#partnervideo, #myvideo {
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
}

#myvideo {
	height: 202px;
	background-color: #000000;
}

#partnervideo {
	/*max-height: 700px;*/ /* try for mobile */
	height: 652px;
	background-color: #000000;
}

#videozone {
	margin-top: 30px;
}

.keyzone {
	padding: 10px 20px 10px;
	color: #FFFFFF;
	margin: 0px;
}

#callzone, #sendmsgzone {
	margin-top: 9px;
}

.callaction, .sendmsgaction {
	margin-left: 0px !important;
}

#hangupzone {
	display: none;
	margin-top: 8px;
	margin-bottom: 10px;
}

#hangupzone button {
	width: 100%;
}

#chatcontent {
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 7px;
	height: 358px;
	overflow: scroll;
}

#chat {
	display: none;
}