<template name="chat">
	<div id="chat">
		<div class="row-fluid">
			<div id="chatcontent" class="span12">
				<p>
					<strong>Friend : </strong>
					<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
				</p>
				<p>
					<strong>You : </strong>
					<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut eros sem. Mauris dolor risus, varius et tellus sed, posuere varius nulla. Nunc placerat egestas faucibus. Praesent eget lobortis dui. Vivamus ornare tristique magna id cursus. Vivamus mauris erat, ultrices id accumsan sed, viverra et tellus. Pellentesque euismod consequat quam, vestibulum convallis dolor lacinia ac</span>
				</p>
				<p>
					<strong>Friend : </strong>
					<span>Vivamus ornare tristique magna id cursus. Vivamus mauris erat, ultrices id accumsan sed, viverra et tellus. Pellentesque euismod consequat quam, vestibulum convallis dolor lacinia ac!</span>
				</p>
			</div>
		</div>
		<div id="sendmsgzone" class="row-fluid">
			<input type="text" class='msg pull-left span8' placeholder="your message ..."/>
			<button class="btn btn-success sendmsgaction pull-right span4" type="button"><i class="fa fa-arrow-right"></i> <span class="sendmsgword">send</span></button>
		</div>
	</div>
</template>